*{
    padding: 0;
    margin: 0;
}

.gold-bg{
    background-color: #e18a07;
}
.black-bg{
    background-color: #000000;
}
.bg-white{
    background-color: WHITE;
}
.bg-gray{
    background-color: #c0c0c0;
}
.img{
    width: 100%;
    margin-top: 2px;
}


.container-fluid-1 {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.fed{
    font-size: 70px;
}
@media screen and (max-width: 960px) {
    .centered {
        position: absolute;
        top: 50%;
        left: 29%;
        transform: translate(-50%, -50%);
    }
    .fed{
        font-size: 40px;
    }
    .img{
        width: 100%;
        margin-top: 2px;
        height: 88.5vh;
    }
}

@media screen and (min-width: 1300px) {
    .centered {
        position: absolute;
        top: 50%;
        left: 29%;
        transform: translate(-50%, -50%);
    }
    .fed{
        font-size: 90px;
    }
    .img{
        width: 100%;
        margin-top: 2px;
        height: 88.5vh;
    }
}

.HTML{
    width: 100%;
}
.CSS {
    width: 70%;
}
.JS {
    width: 50%;
}
.AJAX {
    width: 30%;
}
.typing {
    font-size: 50px;
    background-color: #000000;
    margin-top: 40px;
}